@use '@angular/material' as mat;

// Configure themes
$my-blue: mat.m2-define-palette(mat.$m2-indigo-palette);
$my-orange: mat.m2-define-palette(mat.$m2-orange-palette);
$my-red: mat.m2-define-palette(mat.$m2-red-palette);

$my-theme: mat.m2-define-light-theme(
                (
                        color: (
                                primary: $my-blue,
                                accent: $my-orange,
                                warn: $my-red,
                        ),
                )
);

@include mat.core();
@include mat.table-theme($my-theme);
